<div class="author-icons" style="display: flex; justify-content: center; gap: 10px;">
    <a class="particles-icon" href="https://github.com/kdh-yu">
        <svg width="35px" height="35px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg-icon" style="stroke: currentColor;">
        <path d="M16 22.027v-2.87a3.37 3.37 0 00-.94-2.61c3.14-.35 6.44-1.54 6.44-7a5.44 5.44 0 00-1.5-3.75 5.07 5.07 0 00-.09-3.77s-1.18-.35-3.91 1.48a13.38 13.38 0 00-7 0c-2.73-1.83-3.91-1.48-3.91-1.48A5.07 5.07 0 005 5.797a5.44 5.44 0 00-1.5 3.78c0 5.42 3.3 6.61 6.44 7a3.37 3.37 0 00-.94 2.58v2.87M9 20.027c-3 .973-5.5 0-7-3" class="svg-icon" style="fill: none; stroke: currentColor;"></path>
        </svg>
    </a>
    <a class="particles-icon" href="https://drive.google.com/file/d/1SkWtu1H9wKOFWpnm7WIzMehkJOJuX_-T/view" target="_blank">
        <svg width="35px" height="35px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" class="svg-icon" style="stroke: currentColor;">
        <path d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10z" class="svg-icon" style="fill: none; stroke: currentColor;" />
        <path d="m 10.743752,9.2133219 c 0,0 -4.5125702,-1.1966648 -4.5125705,2.7561791 -3e-7,4.258147 4.5640215,2.715661 4.5640215,2.715661" class="svg-icon" style="fill: none; stroke: currentColor;" />
        <path d="m 12.449181,9.1023598 c 0,0 2.137936,5.8060432 2.686032,5.8060432 0.511982,0 2.633605,-5.7961624 2.633605,-5.7961624" class="svg-icon" style="fill: none; stroke: currentColor;" />
        </svg>
    </a>
    <a class="particles-icon" href="mailto:kdhyu@hanyang.ac.kr">
        <svg width="35px" height="35px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg-icon" style="stroke: currentColor">
        <path d="M4 7.00005L10.2 11.65C11.2667 12.45 12.7333 12.45 13.8 11.65L20 7" stroke-linecap="round" stroke-linejoin="round" class="svg-icon" style="fill: none; stroke: currentColor;"/>
        <rect x="3" y="5" width="18" height="14" rx="2" stroke-linecap="round" class="svg-icon" style="fill: none; stroke: currentColor;"/>
        </svg>
    </a>
</div>
