<style>
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
#nav {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    animation: gradient 5s linear infinite alternate;
    background-size: 400% 400%;
}

@keyframes gradient { 
0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

</style>
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<section class="head" id="nav">
    <div id="particles-js"></div>
    <div class="head-inner-wrap">
        <div class="profile-pic-div animated">
            <a class="profile-pic-link"><img src="{{ site.profile_picture }}" class="profile-pic"/></a>
        </div>
        <div class="head-name head-title animated" id="head-name" style="font-family: S-CoreDream-6Bold;">{{ site.title }}</div>
        <div class="head-punchline animated" style="font-family: S-CoreDream-5Medium;">{{ site.description }}</div>
        <div class="head-menu-wrap">
            <a class="semi-transparent-button with-border nav-links" target="_blank" href="https://drive.google.com/file/d/1SkWtu1H9wKOFWpnm7WIzMehkJOJuX_-T/view?usp=sharing" style="font-family: S-CoreDream-3Light;">CV</a>
            <a class="semi-transparent-button with-border nav-links" href="https://github.com/kdh-yu" style="font-family: S-CoreDream-3Light;">Github</a>
            <a class="semi-transparent-button with-border nav-links" href="https://velog.io/@kdh-yu" style="font-family: S-CoreDream-3Light;">Velog</a>
            <!--
            <a class="semi-transparent-button with-border nav-links" href="#blog-posts">BLOG</a>
            -->
        </div>
    </div>
</section>

<script>
    particlesJS("particles-js", {
  "particles": {
    "number": {
      "value": 355,
      "density": {
        "enable": true,
        "value_area": 789.15
      }
    },
    "color": {
      "value": "#ffffff"
    },
    "shape": {
      "type": "circle",
      "stroke": {
        "width": 0,
        "color": "#000000"
      },
      "polygon": {
        "nb_sides": 5
      },
      "image": {
        "src": "img/github.svg",
        "width": 100,
        "height": 100
      }
    },
    "opacity": {
      "value": 0.49,
      "random": false,
      "anim": {
        "enable": true,
        "speed": 0.25,
        "opacity_min": 0,
        "sync": false
      }
    },
    "size": {
      "value": 2,
      "random": true,
      "anim": {
        "enable": true,
        "speed": 0.333,
        "size_min": 0,
        "sync": false
      }
    },
    "line_linked": {
      "enable": false,
      "distance": 150,
      "color": "#ffffff",
      "opacity": 0.4,
      "width": 1
    },
    "move": {
      "enable": true,
      "speed": 0.1,
      "direction": "none",
      "random": true,
      "straight": false,
      "out_mode": "out",
      "bounce": false,
      "attract": {
        "enable": false,
        "rotateX": 600,
        "rotateY": 1200
      }
    }
  },
  "interactivity": {
    "detect_on": "canvas",
    "events": {
      "onhover": {
        "enable": true,
        "mode": "bubble"
      },
      "onclick": {
        "enable": true,
        "mode": "push"
      },
      "resize": true
    },
    "modes": {
      "grab": {
        "distance": 400,
        "line_linked": {
          "opacity": 1
        }
      },
      "bubble": {
        "distance": 83.9,
        "size": 1,
        "duration": 3,
        "opacity": 1,
        "speed": 3
      },
      "repulse": {
        "distance": 200,
        "duration": 0.4
      },
      "push": {
        "particles_nb": 4
      },
      "remove": {
        "particles_nb": 2
      }
    }
  },
  "retina_detect": true
});
</script>