// Fonts preferences
$sans-family: Roboto, sans-serif;
$mono-family: Consolas, monospace;
$base-font-size: 16px;
$medium-font-size: $base-font-size * 0.938;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.85;

// Font weight
// $light-weight: 300; // uncomment if necessary
$normal-weight: 400;
$bold-weight: 700;
// $black-weight: 900; // uncomment if necessary

// Light Colors
$text-base-color: #2C2F33;
$text-link-blue: #0056D2;
$text-link-blue-active: #0044AA;

$black: #121826;
$light: #F8F9FA;
$smoke: #D6D3D1;
$gray: #868E96;
$white: #FFFFFF;

// Dark Colors
$dark-text-base-color: #CACACA;
$dark-text-link-blue: #5AC8FA;
$dark-text-link-blue-active: #4DB8E7; 


$dark-black: #1B1F23;  
$dark-white: #F5F5F5;
$dark-light: #2C313A;
$dark-smoke: #52616B; 
$dark-gray: #D3D3D3;


// Width of the content area
$wide-size: 890px;
$narrow-size: 720px;

// Padding unit
$spacing-full: 30px;
$spacing-half: $spacing-full / 2;

// State of devices
$on-mobile: 768px;
$on-tablet: 769px;
$on-desktop: 1024px;
$on-widescreen: 1152px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import sass files
@import "klise/fonts", "klise/base", "klise/layout", "klise/post",
  "klise/miscellaneous", "klise/syntax", "klise/dark";